/* Variables */
:root {
  --basic-grey: #eeeeee;
  --basic-grey-2: #E1E1E1;
  --basic-grey-hover: #dfdfdf;
  --basic-grey-active: #d5d5d5;
  --basic-grey-current-pagination: #dbdbdb;
  --grey-scale: #D7DCDF;
  --grey-color: #ababab;
  --grey-color-2: #C1C1C1;
  --grey-color-3: #D7DCDE;
  --grey-color-4: #B4B9BB;
  --basic-black-color: #000000;
  --basic-black-color-opacity: rgba(0, 0, 0, 0.3);
  --basic-dark-color: #4D4D4D;
  --basic-text-color: #283136;
  --basic-white: #ffffff;
  --basic-white-opacity: rgba(255, 255, 255, 0.3);
  --basic--extra-grey: #666666;
  --basic-dark-grey: #444444;
  --basic-orange: #fb565a;
  --basic-orange-hover: #e74246;
  --basic-orange-active: #d7373b;
  --basic-green: #00ca74;
  --basic-green-hover: #00bc6c;
  --basic-green-active: #00aa62;
  --basic-yellow: #efc849;
  --basic-yellow-hover: #eab534;
  --basic-yellow-active: #e5a722;

}

/* Global */

.page-body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-text-color);
  background-color: var(--basic-white);

  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
      align-content: start;
}

.page {
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clear-list {
  margin: 0;
  padding: 0;
}

.clear-list li {
  list-style-type: none;
}

/* header */

.main-header{
  background-color: var(--basic-grey);
}
/* main-navigation  */
.main-navigation {
  background-color: var(--basic-grey);
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black-color);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 160px 25px 1fr 25px -webkit-min-content;
  -ms-grid-columns: 160px 25px 1fr 25px min-content;
  grid-template-columns: 160px 1fr -webkit-min-content;
  grid-template-columns: 160px 1fr min-content;
  gap: 25px;
  width: 1160px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 6px;
}

.site-navigation {
  color: var(--basic-black-color);
  /* margin: 0 auto;
  padding: 0; */
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-navigation li {
  padding-top: 26px;
  padding-bottom: 9px;
  z-index: 2;
}

.site-navigation-link {
  margin-right: 45px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header-cart {
  padding-left: 50px;
  height: 65px;
  vertical-align: middle;
}

.header-cart a {
  display: block;
  padding-top: 26px;
  padding-bottom: 9px;
  position: relative;
}

.header-cart a::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 33px;
  left: -40px;
  background-image: url(/img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation-link,
.header-cart a {
  color: var(--basic-black-color);
}

.site-navigation-link:hover,
.header-cart a:hover,
.site-navigation-link:focus,
.header-cart a:focus {
  color: var(--basic-orange);
}

.site-navigation-link:active,
.header-cart a:active {
  color: var(--basic-black-color);
  opacity: 30%;
}

.main-header-logo,
.header-logo {
  width: 160px;
  height: 65px;
}

.main-navigation a img {
  height: 65px;
  width: 160px;
}

.main-header-logo:hover,
.header-logo:hover,
.main-header-logo:focus,
.header-logo:focus {
  opacity: 70%;
}

.main-header-logo:active,
.header-logo:active {
  opacity: 30%;
}

.current {
  border-bottom: 2px solid var(--basic-orange);
  padding-bottom: 19px;
}

/* MAIN */
/* .slides, */
.slider,
.services,
.about-company,
.partners,
.page__footer__container,
.wrapper-catalog-page-header,
.wrapper-catalog-page {
  width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.slides-container {
  background-color: var(--basic-grey);
  margin-bottom: 74px;

}

.slider {
  position: relative;
}

/* .slider-list {
  margin: 0;
  padding: 0;
} */

.slider-item {
  position: relative;
  min-height: 431px;
}

.slider-item p {
  position: relative;
  z-index: 1;
  margin: 0;
}

.slide-1::after,
.slide-2::after,
.slide-3::after {
    content: "";
    position: absolute;
    width: 760px;
    height: 431px;
    background-repeat: no-repeat;
    bottom: 6px;
    right: 3px;
  }

  .slide-1::after {
    background-image: url(/img/nerds-index-slide1.png);
  }

  .slide-2::after {
    background-image: url(/img/nerds-index-slide2.png);
  }

  .slide-3::after {
    background-image: url(/img/nerds-index-slide3.png);
  }

  .slide-1 p:first-child,
  .slide-2 p:first-child,
  .slide-3 p:first-child {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    padding-top: 73px;
  }

    .slide-1 p:first-child {
    margin-bottom: 25px;
  }

  .slide-2 p:first-child,
  .slide-3 p:first-child {
    margin-bottom: 37px;
  }

  .slide-1 p:nth-child(2) {
    margin-bottom: 39px;
  }

  .slide-2 p:nth-child(2) {
    margin-bottom: 27px;
  }

  .slide-3 p:nth-child(2) {
    margin-bottom: 26px;
  }

.slider-controls {
  position: absolute;
  z-index: 3;
  bottom: 102px;
  left: 556px;
  min-width: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  margin-right: 17px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.slider-controls .current::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 2px solid var(--grey-color-2);
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

/* services */

.services {
  min-height: auto;
  border-bottom: 2px solid var(--basic-grey);
  padding-bottom: 80px;
}

.services-list {
  /* padding: 0;
  margin: 0; */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

}

.services-item {
  padding-top: 170px;
  width: 300px;
  height: auto;
  background-repeat: no-repeat;
}

.services-item:nth-child(1) {
  background-image: url(/img/illustration-1.jpg);
}

.services-item:nth-child(2) {
  background-image: url(/img/illustration-2.jpg);
}

.services-item:last-child {
  background-image: url(/img/illustration-3.jpg);
}

.services-item h3 {
  margin: 0;
  padding-top: 1px;
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black-color);
}

.services-item p {
  margin: 0;
  padding-bottom: 32px;
}

/* section about company  */
.about-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-top: 39px;
  padding-bottom: 72px;
}

.about-company-tagline {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black-color);
  margin-top: 35px;
  margin-bottom: 32px;
}

.features dt {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 23px;
  text-transform: uppercase;
}

.features-item {
  margin: 0;
  margin-bottom: 24px;
}

.features-item:last-child {
  margin-bottom: 0;
}

.features-item::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--basic-orange);
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.advantage p {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 31px;
  text-align: center;
  text-transform: uppercase;
}

.advantage-list dt {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.advantage-list sup {
  font-size: 26px;
  line-height: 40px;
}

.advantage-list dd {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.about-company-left-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 650px;
}

.about-company-mission {
  margin: 0;
  margin-bottom: 40px;
}

.features dl {
  margin: 0;
  padding: 0;
}

.about-company-right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 360px;
}

.advantage {
  position: relative;
  padding-top: 245px;
}

.advantage::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 208px;
  top: 0;
  left: 0;
  background-image: url(/img/nerds-illustration.png);
  background-repeat: no-repeat;
}

.advantage-list {
  width: 360px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  padding: 0;
  margin: 0;
}

.advantage-list dt {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  margin: 0;
}

.advantage-list dd {
  margin: 0;
}

 /* секция Partners Grid */
 .partners {
  margin-bottom: 80px;
}

.partners-list {
  /* margin: 0;
  padding: 0; */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 90px;
  grid-template-rows: 90px;
  row-gap: 10px;
  border-bottom: 2px solid var(--basic-grey);
  border-top: 2px solid var(--basic-grey);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 46px;
  padding-bottom: 44px;
  position: relative;
}

.partners-list > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.partners-list > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.partners-list > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.partners-list > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.partner img {
  opacity: 0.2;
  position: relative;
}

.partner img:hover,
.partners-item:focus-within img {
  opacity: 1;
}

.partner img:active {
  opacity: 0.1;
}

.partners-item {
  position: relative;
}

.partners-item::after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 52px;
  background-color: var(--basic-grey);
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.partners-item:nth-child(4n)::after {
  display: none;
}

.htmlacademy {
  right: 9px;
}
.htmlacademy img {
  top: 7px;
  right: 4px;
}

.barbershop img {
  right: 4px;
  top: 6px;
}

.pink {
  left: 12px;
}

.pink img {
  right: 5px;
  top: 6px;
}

.mishka {
  top: 10px;
  left: 16px;
}

/* ALL SITE Buttons */

.button {
  text-transform: uppercase;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
  border: none;
}

.button-more {
  display: inline-block;
  vertical-align: middle;
  padding-top: 17px;
  padding-right: 54px;
  padding-bottom: 15px;
  padding-left: 54px;
  margin-bottom: 80px;
}

.contacts__btn {
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 45px;
}

.button-orange,
.button-green,
.button-yellow {
  display: inline-block;
  vertical-align: middle;
  padding-top: 17px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 40px;
}

.contacts__btn,
.button-price,
.button-more,
.button-orange,
.modal-btn-send {
  background-color: var(--basic-orange);
  color: var(--basic-white);
}

.contacts__btn:hover,
.button-price:hover,
.button-more:hover,
.button-orange:hover,
.modal-btn-send:hover,
.contacts__btn:focus,
.button-price:focus,
.button-more:focus,
.button-orange:focus,
.modal-btn-send:focus {
  background-color: var(--basic-orange-hover);
}

.contacts__btn:active,
.button-price:active,
.button-more:active,
.button-orange:active,
.modal-btn-send:active {
  background-color: var(--basic-orange-active);
  color: var(--basic-white-opacity);
}

.button-green {
  background-color: var(--basic-green);
  color: var(--basic-white);
}

.button-green:hover,
.button-green:focus {
  background-color: var(--basic-green-hover);
}

.button-green:active {
  background-color: var(--basic-green-active);
  color: var(--basic-white-opacity);
}

.button-yellow {
  background-color: var(--basic-yellow);
  color: var(--basic-white);
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: var(--basic-yellow-hover);
}

.button-yellow:active {
  background-color: var(--basic-yellow-active);
  color: var(--basic-white-opacity);
}

.button-price {
  border: none;
  padding: 17px 72px 15px 72px;
  margin-bottom: 44px;
  margin-left: 10px;
  margin-right: 10px;
}

.product-pagination-btn,
.current-pagination-btn {
  background-color: var(--basic-grey);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black-color);
  border: none;
}

.filters-btn {
  border: none;
  padding: 15px;
  width: 260px;
  min-height: 50px;
  margin-bottom: 60px;
  /*в случае недополнения product-items*/
}

.filters-btn,
.product-pagination-btn {
  background-color: var(--basic-grey);
}

.filters-btn:hover,
.product-pagination-btn:hover,
.filters-btn:focus,
.product-pagination-btn:focus {
  background-color: var(--basic-grey-hover);
}

.filters-btn:active,
.product-pagination-btn:active {
  background-color: var(--basic-grey-active);
  -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: var(--basic-black-color-opacity);
}

.modal-btn-send {
  padding-top: 17px;
  padding-right: 83px;
  padding-bottom: 15px;
  padding-left: 83px;
}

.png-btn {
  display: block;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
}

.next-page {
  width: 260px;
}

.current-pagination-btn {
  background-color: var(--basic-white);
  border: 3px solid var(--basic-grey-current-pagination);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 47px;
}

/* footer  */
.page-footer {
  position: relative;
}
.map {
  margin: 0 auto;
  margin-bottom: 68px;
  width: 100%;
}

.map-image {
  min-width: 1440px;
  height: 416px;
  background-image: url(/img/map_and_marker.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.map-marker {
  display: none;
  position: absolute;
  top: 70px;
  left: 970px;
}

.contacts p,
.contacts-phone {
  color: var(--basic--extra-grey);
  margin: 0;
}

.contacts h2 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 23px;
}

.contacts {
  background-color: var(--basic-white);
  min-height: 308px;
  width: 319px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 58px;
}

.contacts {
  padding: 49px 50px 47px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.adresse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 72px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 35px;
}
.adresse p:first-child{
  margin-bottom: 20px;
}

/* social */
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social ul {
  margin: 0;
  padding: 0;
  width: 261px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
  .social div {
    margin-left: 139px;
    margin-top: 9px;
  }

.social li {
  margin-right: 9px;
  margin-bottom: 9px;
}

.social li:nth-child(3n) {
  margin-right: 0;
}

.social-button {
  width: 81px;
  height: 81px;
  background-color: var(--basic-grey-2);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-orange-hover);
}

.social-button:active {
  background-color: var(--basic-orange-active);
}

.social-button:active svg {
  opacity: 30%;
}
.social p {
  margin: 0;
}

.social p:first-of-type {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black-color);
  margin-bottom: 10px;
}

.social p:last-of-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark-grey);
}

/* modal  */
.modal {
  position: fixed;
  left: 50%;
  top: 49%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  display: none;
}

.modal-window {
  position: relative;
  width: 960px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 63px 100px 84px 100px;
  background-color: var(--basic-white);
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal-window fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 47px;
}

.modal-header {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black-color);
  margin: 0;
  margin-bottom: 37px;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 760px;
}

.form-item {
  width: 360px;
}

.form-item:nth-child(3) {
  width: 760px;
  height: 150px;
  margin-top: 34px;
}

.form-item:first-child {
  margin-right: 40px;
}

.form-item input,
.form-item textarea {
  width: 100%;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid var(--grey-color-3);
  border-radius: 3px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 14px;
  padding-bottom: 16px;
}

.form-item textarea {
  height: 118px;
  resize: none;
  margin-top: 0px;
}

.form-item input:hover,
.form-item textarea:hover {
  border-color: var(--grey-color-4);
}

/* .form-item input:invalid,
.form-item textarea:invalid {
  border-color: var(--basic-orange-hover);
  color: var(--basic-orange-hover);
} */

.modal-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black-color);
}

.modal-close {
  position: absolute;
  padding: 0;
  top: 80px;
  right: 90px;
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal-close svg {
  opacity: 0.3;
}

.modal-close:hover svg,
.modal-close:focus svg {
  opacity: 1;
}

.modal-close:active svg {
  opacity: 0.1;
}

/* PAGE catalog */

.catalog-page-header {
  margin-top: 0;
  padding-top: 73px;
  padding-bottom: 108px;
  text-align: center;
  margin-bottom: 55px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black-color);
  background-color: var(--basic-grey);
}

.container-catalog-page-bar {
  background-color: var(--basic-grey);
}

/* wrapper-catalog-page  GRID*/
.wrapper-catalog-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 260px 1fr;
  grid-template-columns: 260px 1fr;
  -ms-grid-rows: -webkit-max-content 1fr -webkit-max-content;
  -ms-grid-rows: max-content 1fr max-content;
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;
}
.wrapper-catalog-page > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.wrapper-catalog-page > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.wrapper-catalog-page > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.wrapper-catalog-page > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.wrapper-catalog-page > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.wrapper-catalog-page > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.filters-bar {
  grid-row: 1/-1;
}

.sort-bar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1/2/2/4;
  margin-left: 140px;
}

.product-bar {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 2/2/3/4;
  margin-bottom: 54px;
  margin-left: 140px;
}

.product-pagination {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3/2/4/3;
}


/* filters-bar and sort-bar section */
.range-filter {
  width: 260px;
  margin-top: 48px;
}

/* .filter-item legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black-color);
  text-transform: uppercase;
} */

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  background-color: var(--basic-grey);
  border-radius: 5px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
}

.range-controls .scale {
  height: 2px;
  background: var(--grey-scale);
}

.bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green);
}

.toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--grey-color);
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.toggle-min {
  left: 10px;
}

.toggle-max {
  /* left: 165px; */
  left: 62%;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  /* width: 60px;
  padding: 10px; */
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-text-color);
  border: none;
  border-radius: 5px;
  background: var(--basic-grey);
  font-family: inherit;
  font-size: inherit;
  font-family: inherit;
  font-size: inherit;
}

.filters + ul {
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.filters-bar-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
  /* margin-top: 37px; */
  margin-bottom: 47px;
}

.filters-bar-form fieldset:nth-child(1) {
  margin-top: 0;
  margin-bottom: 54px;
}

.filters-bar-form fieldset:nth-child(2) {
  margin-bottom: 25px;
}

.filters-bar-form fieldset:last-of-type {
  margin-bottom: 50px;
}

.filters {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black-color);
  text-transform: uppercase;
}

.filters-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-text-color);
}

.filters-item-radio {
  margin-bottom: 20px;
}

.filters-item label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filters-item-check {
  margin-bottom: 20px;
}

.filters-item-check:last-child {
  margin-bottom: 0;
}

.check,
.radio {
  padding-left: 36px;
}

/* checkbox & radiobutton */

/* radiobutton */
.filter-input-radio+label::before,
.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  left: 11px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio+label::before {
  height: 25px;
  width: 25px;
  border: 4px solid var(--basic-dark-color);
}

.filter-input-radio:checked+label::after {
  height: 9px;
  width: 9px;
  background-color: var(--basic-dark-color);
}

/* checkbox */
.filter-input-checkbox+label::before,
.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 23px;
  opacity: 0.4;
  background-repeat: no-repeat;
}

.filter-input-checkbox+label::before {
  background-image: url(/img/checkbox-off.svg);
}

.filter-input-checkbox:checked+label::after {
  background-image: url(/img/checkbox-on.svg);
}

.filter-input-checkbox:checked+label::before {
  display: none;
}

/* checkbox & radio :hover :focus */

.filter-input-radio:hover+label::before,
.filter-input-radio:checked:hover+label::after,
.filter-input-radio:focus+label::before,
.filter-input-radio:checked:focus+label::after,
.filter-input-checkbox:hover+label::before,
.filter-input-checkbox:checked:hover+label::after,
.filter-input-checkbox:focus+label::before,
.filter-input-checkbox:checked:focus+label::after {
  opacity: 1;
}

/* checkbox & radio disabled */
.filter-input-radio:checked:disabled+label::after,
.filter-input-radio:checked:disabled+label::before,
.filter-input-radio:disabled+label::after,
.filter-input-radio:disabled+label::before {
  opacity: 0.1;
}

.filter-input-checkbox:disabled+label::before,
.filter-input-checkbox:checked:disabled+label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 23px;
  background-repeat: no-repeat;
  opacity: 1;
}

.filter-input-checkbox:disabled+label::before {
  background-image: url(/img/checkbox-off-disabled.svg);

}

.filter-input-checkbox:checked:disabled+label::after {
  background-image: url(/img/checkbox-on-disabled.svg);
}

input[disabled]+label {
  opacity: 0.3;
}

/* sort-bar */

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.sort-legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black-color);
  text-transform: uppercase;
  margin-bottom: 48px;
  margin-right: auto;

}

.sort-list,
.sort-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.sort-item-arrows {
  margin-left: 18px;
}

.sort-item {
  margin-right: 26px;
}

.sort-list li:last-child {
  margin-right: 29px;
}

.sort-item a,
.sort-item-arrows a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black-color);
  opacity: 30%;
  text-transform: uppercase;
}

.sort-item a:hover,
.sort-item-arrows a:hover,
.sort-item a:focus,
.sort-item-arrows a:focus {
  opacity: 60%;
}

.sort-item a:active,
.sort-item-arrows a:active {
  opacity: 100%;
}

/* product-bar section */
.product {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.product-item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black-color);
  text-transform: uppercase;

}

.product-item-name:hover,
.product-item-name:focus {
  color: var(--basic-orange);
}

.product-item-name:active {
  color: var(--basic-black-color);
  opacity: 30%;
}

.product-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic--extra-grey);
  margin-bottom: 32px;
  padding: 0 10px;
}

/* product-item Flex */

.product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 620px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.product-item:hover {
  -webkit-box-shadow: 0px 6px 15px 0px #00000040;
          box-shadow: 0px 6px 15px 0px #00000040;
}

.product-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 100%;
  height: 40px;
  background-color: var(--basic-dark-color);
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  opacity: 12%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product-item-header li {
  width: 14px;
  height: 14px;
  background-color: var(--basic-white);
  border-radius: 50%;
  margin-left: 9px;
}

.product-item-header li:first-child {
  margin-left: 16px;
}

.about-product {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 100%;
  min-height: 231px;
  background-color: var(--basic-grey);
  position: absolute;
  bottom: 0px;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* display: none; */
  opacity: 0;
}

.product-item-name {
  margin-top: 26px;
  margin-bottom: 12px;
  padding: 0 10px;
}

.product-image {
  height: 578px;
  width: 358px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #F2F2F2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.product-image img {
  height: 578px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -o-object-fit: contain;
     object-fit: contain;
}

.product li:hover .product-item-header,
.product li:focus-within .product-item-header {
  opacity: 1;
}

.product li:hover .about-product,
.product li:focus-within .about-product {
  display: block;
  opacity: 1;
}


/* product-pagination FLEX  */
.product-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 140px;
  margin-bottom: 50px;
}

.product-pagination li {
  margin-right: 11px;
  margin-bottom: 10px;
}
