/* Variables */
:root {
  --basic-grey: #eeeeee;
  --basic-grey-2: #E1E1E1;
  --basic-grey-hover: #dfdfdf;
  --basic-grey-active: #d5d5d5;
  --basic-grey-current-pagination: #dbdbdb;
  --grey-scale: #D7DCDF;
  --grey-color: #ababab;
  --grey-color-2: #C1C1C1;
  --grey-color-3: #D7DCDE;
  --grey-color-4: #B4B9BB;
  --basic-black-color: #000000;
  --basic-black-color-opacity: rgba(0, 0, 0, 0.3);
  --basic-dark-color: #4D4D4D;
  --basic-text-color: #283136;
  --basic-white: #ffffff;
  --basic-white-opacity: rgba(255, 255, 255, 0.3);
  --basic--extra-grey: #666666;
  --basic-dark-grey: #444444;
  --basic-orange: #fb565a;
  --basic-orange-hover: #e74246;
  --basic-orange-active: #d7373b;
  --basic-green: #00ca74;
  --basic-green-hover: #00bc6c;
  --basic-green-active: #00aa62;
  --basic-yellow: #efc849;
  --basic-yellow-hover: #eab534;
  --basic-yellow-active: #e5a722;

}

/* Global */

.page-body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-text-color);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page {
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

/* main-header */

.main-header-bar {
  background-color: var(--basic-grey);
  padding-top: 50px;
}

/* main-navigation  */
.main-navigation {
  background-color: var(--basic-grey);
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black-color);
  display: grid;
  grid-template-columns: 160px 1fr min-content;
  gap: 25px;
  width: 1160px;
  margin: 0 auto;
  align-items: center;
}

.site-navigation {
  list-style-type: none;
  color: var(--basic-black-color);
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 65px;
  align-items: center;
}

.site-navigation li {
  padding-top: 26px;
  padding-bottom: 9px;
  z-index: 2;
}

.site-navigation-link {
  margin-right: 45px;
  flex-grow: 1;
}

.header-cart {
  padding-left: 50px;
  height: 65px;
  vertical-align: middle;

}

.header-cart a {
  display: block;
  padding-top: 26px;
  padding-bottom: 9px;
  position: relative;
}

.header-cart a::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 33px;
  left: -40px;
  background-image: url(/img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation-link,
.header-cart a {
  color: var(--basic-black-color);
}

.site-navigation-link:hover,
.header-cart a:hover {
  color: var(--basic-orange);
}

.site-navigation-link:active,
.header-cart a:active {
  color: var(--basic-black-color);
  opacity: 30%;
}

.main-header-logo,
.header-logo {
  width: 160px;
  height: 65px;
}

.main-navigation a img {
  height: 65px;
  width: 160px;
}

.main-header-logo:hover,
.header-logo:hover {
  opacity: 70%;
}

.main-header-logo:active,
.header-logo:active {
  opacity: 30%;
}

.current {
  border-bottom: 2px solid var(--basic-orange);
  padding-bottom: 13px;
}

/* MAIN */
/* .slides, */
.slider,
.services,
.about-company,
.partners {
  width: 1160px;
  margin: 0 auto;
}

.slides-container {
  background-color: var(--basic-grey);
  margin-bottom: 80px;

}

.slider {
  position: relative;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  position: relative;
  min-height: 431px;
}

.slide-1::after {
  content: "";
  position: absolute;
  width: 760px;
  height: 431px;
  background-image: url(/img/nerds-index-slide1.png);
  background-repeat: no-repeat;
  bottom: 0;
  right: 0;
}

.slide-1 p:first-child {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  padding-top: 78px;
  margin-bottom: 25px;
}

.slide-1 p:nth-child(2) {
  margin-bottom: 38px;
}

.slide-2::after {
  content: "";
  position: absolute;
  width: 760px;
  height: 431px;
  background-image: url(/img/nerds-index-slide2.png);
  background-repeat: no-repeat;
  bottom: 0;
  right: 0;
}

.slide-2 p:first-child {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  padding-top: 78px;
  margin-bottom: 37px;
}

.slide-2 p:nth-child(2) {
  margin-bottom: 27px;
}

.slide-3::after {
  content: "";
  position: absolute;
  width: 760px;
  height: 431px;
  background-image: url(/img/nerds-index-slide3.png);
  background-repeat: no-repeat;
  bottom: 0;
  right: 0;
}

.slide-3 p:first-child {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  padding-top: 78px;
  margin-bottom: 37px;
}

.slide-3 p:nth-child(2) {
  margin-bottom: 26px;
}

.slider-controls {
  position: absolute;
  z-index: 3;
  bottom: 96px;
  left: 540px;
  min-width: 88px;
  display: flex;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  margin-right: 17px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.slider-controls .current::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 2px solid var(--grey-color-2);
  border-radius: 50%;
  box-sizing: border-box;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

/* services */
.services {
  border-bottom: 2px solid var(--basic-grey);
  padding-bottom: 80px;
}

.services-list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
}

.services-item:nth-child(1),
.services-item:nth-child(2),
.services-item:nth-child(3) {
  padding-top: 170px;
  width: 300px;
  height: 146px;
  background-repeat: no-repeat;
}

.services-item:nth-child(1) {
  background-image: url(/img/illustration-1.jpg);
}

.services-item:nth-child(2) {
  background-image: url(/img/illustration-2.jpg);
}

.services-item:nth-child(3) {
  background-image: url(/img/illustration-3.jpg);
}

.services-item h3 {
  margin: 0;
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black-color);
}

.services-item p {
  margin-bottom: 0;
  padding-bottom: 32px;
}

/* section about company  */
.about-company {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 39px;
  padding-bottom: 75px;
}

.about-company-tagline {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black-color);
  margin-top: 34px;
  margin-bottom: 32px;
}

.features dt {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.features-item {
  margin: 0;
}

.features-item::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--basic-orange);
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}

.advantage p {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 31px;
}

.advantage-list dt {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.advantage-list dd {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.about-company-left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-company-mission {
  margin-bottom: 40px;
}

.features dl {
  margin: 0;
  padding: 0;
}

.features-item {
  margin-bottom: 25px;
}

.features-item:last-child {
  margin-bottom: 0;
}

.about-company-right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.advantage {
  position: relative;
  padding-top: 284px;
}

.advantage::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 208px;
  top: 0;
  left: 0;
  background-image: url(/img/nerds-illustration.png);
  background-repeat: no-repeat;
}

.advantage p {
  text-align: center;
  text-transform: uppercase;
}

.advantage-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 10px;
  padding: 0;
  margin: 0;
}

.advantage-list dt {
  grid-row: 1 / 2;
  margin: 0;
}

.advantage-list dd {
  margin: 0;
}

/* section partners  */

.partners {
  margin-bottom: 80px;
}

.partners ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 90px;
  row-gap: 10px;
  border-bottom: 2px solid var(--basic-grey);
  border-top: 2px solid var(--basic-grey);
  align-items: center;
  text-align: center;
  padding-top: 46px;
  padding-bottom: 44px;
  position: relative;
}

.partner img {
  opacity: 0.2;
  position: relative;
}

.partner img:hover {
  opacity: 1;
}

.partner img:active {
  opacity: 0.1;
}

.partners-item {
  position: relative;
}

.partners-item::after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 52px;
  background-color: var(--basic-grey);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.partners-item:nth-child(4n)::after {
  display: none;
}


/* ALL SITE Buttons */

.button {
  text-transform: uppercase;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
  border: none;
}

.button-more {
  padding-top: 17px;
  padding-right: 54px;
  padding-bottom: 15px;
  padding-left: 54px;
  display: inline-block;
  margin-bottom: 80px;
}

.contacts__btn {
  padding-top: 17px;
  padding-right: 45x;
  padding-bottom: 15px;
  padding-left: 45px;
}

.button-orange,
.button-green,
.button-yellow {
  padding-top: 17px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 40px;
}

.contacts__btn,
.button-price,
.button-more,
.button-orange,
.modal-btn-send {
  background-color: var(--basic-orange);
  color: var(--basic-white);
}

.contacts__btn:hover,
.button-price:hover,
.button-more:hover,
.button-orange:hover,
.modal-btn-send:hover {
  background-color: var(--basic-orange-hover);
}

.contacts__btn:active,
.button-price:active,
.button-more:active,
.button-orange:active,
.modal-btn-send:active {
  background-color: var(--basic-orange-active);
  color: var(--basic-white-opacity);
}

.button-green {
  background-color: var(--basic-green);
  color: var(--basic-white);
}

.button-green:hover {
  background-color: var(--basic-green-hover);
}

.button-green:active {
  background-color: var(--basic-green-active);
  color: var(--basic-white-opacity);
}

.button-yellow {
  background-color: var(--basic-yellow);
  color: var(--basic-white);
}

.button-yellow:hover {
  background-color: var(--basic-yellow-hover);
}

.button-yellow:active {
  background-color: var(--basic-yellow-active);
  color: var(--basic-white-opacity);
}

.button-price {
  border: none;
  padding: 17px 72px 15px 72px;
  margin-bottom: 44px;
}

.product-pagination-btn,
.current-pagination-btn {
  background-color: var(--basic-grey);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black-color);
  border: none;
}

.filters-btn {
  border: none;
  width: 260px;
  height: 50px;
}

.filters-btn,
.product-pagination-btn {
  background-color: var(--basic-grey);
}

.filters-btn:hover,
.product-pagination-btn:hover {
  background-color: var(--basic-grey-hover);
}

.filters-btn:active,
.product-pagination-btn:active {
  background-color: var(--basic-grey-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: var(--basic-black-color-opacity);
}

.modal-btn-send {
  width: 260px;
  height: 50px;
  margin-top: 47px;
}

.png-btn {
  display: block;
  margin-right: 11px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
}

.next-page {
  width: 260px;
}

.current-pagination-btn {
  background-color: var(--basic-white);
  border: 3px solid var(--basic-grey-current-pagination);
  box-sizing: border-box;
  line-height: 47px;

}


/* footer  */
.page-footer {
  position: relative;
}

.map {
  width: 1440px;
  margin: 0 auto;
}

.map-image {
  height: 416px;
}

.map-marker {
  position: absolute;
  top: 70px;
  left: 847px;
}

.page__footer__container {
  width: 1160px;
  margin: 0 auto;
}

.contacts p,
.contacts-phone {
  color: var(--basic--extra-grey);
}

.contacts h2 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.contacts {
  background-color: var(--basic-white);
  min-height: 308px;
  width: 319px;
  box-sizing: border-box;
  position: absolute;
  top: 54px;
}

.contacts {
  padding: 49px 50px 47px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.adresse {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 72px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.map {
  margin-bottom: 68px;
}

.map-image {
  width: 100%;
}

/* social на Grid */
.social {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 68px;
}

.social ul {
  grid-column: 1/3;
  grid-row: 1/3;
  margin: 0;
  padding: 0;
  display: flex;
}

.social ul li {
  margin-right: 9px;
}


.social ul li:last-child {
  margin-right: 0;
}

.social-button {
  width: 81px;
  height: 81px;
  background-color: var(--basic-grey-2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-button:hover {
  background-color: var(--basic-orange-hover);
}

.social-button:active {
  background-color: var(--basic-orange-active);
}

.social-button:active svg {
  opacity: 30%;
}

.social p:first-of-type {
  grid-column: 4/12;
  grid-row: 1/2;
}

.social p:last-of-type {
  grid-column: 4/12;
  grid-row: 2/3;
}

.social p:first-of-type {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black-color);
  margin-left: 139px;
}

.social p:last-of-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark-grey);
  margin-left: 139px;
}

/* modal  */
.modal {
  position: fixed;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
}

.modal-window {
  position: relative;
  margin-bottom: 250px;
  height: 590px;
  width: 960px;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal-header {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black-color);
  margin-bottom: 37px;
  margin-top: 63px;
  margin-left: 100px;
  margin-right: 100px;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
  margin-left: 100px;
  margin-right: 100px;
}

.form-item {
  width: 360px;
}

.form-item:nth-child(3) {
  width: 760px;
}

.form-item:first-child {
  margin-right: 40px;
  margin-bottom: 34px;
}

.form-item input {
  width: 360px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid var(--grey-color-3);
}

.form-item textarea {
  width: 760px;
  min-height: 118px;
  box-sizing: border-box;
  border: 2px solid var(--grey-color-3);
}

.form-item input:hover,
.form-item textarea:hover {
  border-color: var(--grey-color-4);
}

/* .form-item input:invalid,
.form-item textarea:invalid {
  border-color: var(--basic-orange-hover);
  color: red;
}


.form-item input:not(:focus):invalid,
.form-item textarea:not(:focus):invalid {
  border-color: var(--grey-color-3);
} */


.modal-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black-color);
}

.modal-form input,
.modal-form textarea {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 14px;
  padding-bottom: 16px;
  margin-top: 9px;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 99px;
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal-close svg {
  opacity: 0.3;
}

.modal-close:hover svg {
  opacity: 1;
}

.modal-close:active svg {
  opacity: 0.1;
}




/* PAGE catalog */

.wrapper-catalog-page-header,
.wrapper-catalog-page,
.catalog-page-header {
  width: 1160px;
  margin: 0 auto;
}

.catalog-page-header {
  padding-top: 72px;
  padding-bottom: 108px;
  text-align: center;
  margin-bottom: 55px;
}

.container-catalog-page-bar {
  background-color: var(--basic-grey);
}

.catalog-page-header {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black-color);
  background-color: var(--basic-grey);
}

/* wrapper-catalog-page  GRID*/
.wrapper-catalog-page {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: max-content 1fr max-content;
  column-gap: 140px;
}

.filters-bar {
  grid-row: 1/-1;
}

.sort-bar {
  grid-area: 1/2/2/4;
}

.product-bar {
  grid-area: 2/2/3/4;
  margin-bottom: 54px;
}

.product-pagination {
  grid-area: 3/2/4/3;
}


/* filters-bar and sort-bar section */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black-color);
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  background-color: var(--basic-grey);
  border-radius: 5px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
}

.range-controls .scale {
  height: 2px;
  background: var(--grey-scale);
}

.bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green);
}

.toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--grey-color);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.toggle-min {
  left: 10px;
}

.toggle-max {
  left: 165px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-text-color);
  border: none;
  border-radius: 5px;
  background: var(--basic-grey);
  font-family: inherit;
  font-size: inherit;
  font-family: inherit;
  font-size: inherit;
}

fieldset ul {
  margin: 0;
  padding: 0;
}

.filters-bar-form fieldset:nth-child(1) {
  margin-bottom: 54px;
}

.filters-bar-form fieldset:nth-child(2) {
  margin-bottom: 43px;
}

.filters-bar-form fieldset:nth-child(3) {
  margin-bottom: 48px;
}

.filters {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black-color);
  text-transform: uppercase;
  margin-bottom: 16px;
}

.filters-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-text-color);
}

.filters-item-radio {
  margin-bottom: 15px;
}

.filters-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}


.filters-item-check {
  margin-bottom: 17px;
}

.check,
.radio {
  padding-left: 36px;
}

/* checkbox & radiobutton */

/* radiobutton */
.filter-input-radio+label::before,
.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio+label::before {
  height: 25px;
  width: 25px;
  border: 4px solid var(--basic-dark-color);
}

.filter-input-radio:checked+label::after {
  height: 9px;
  width: 9px;
  background-color: var(--basic-dark-color);
}

/* checkbox */
.filter-input-checkbox+label::before,
.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 23px;
  opacity: 0.4;
  background-repeat: no-repeat;
}

.filter-input-checkbox+label::before {
  background-image: url(/img/checkbox-off.svg);
}

.filter-input-checkbox:checked+label::after {
  background-image: url(/img/checkbox-on.svg);
}

.filter-input-checkbox:checked+label::before {
  display: none;
}

/* checkbox & radio :hover :focus */

.filter-input-radio:hover+label::before,
.filter-input-radio:checked:hover+label::after,
.filter-input-radio:focus+label::before,
.filter-input-radio:checked:focus+label::after,
.filter-input-checkbox:hover+label::before,
.filter-input-checkbox:checked:hover+label::after,
.filter-input-checkbox:focus+label::before,
.filter-input-checkbox:checked:focus+label::after {
  opacity: 1;
}

/* checkbox & radio disabled */
.filter-input-radio:checked:disabled+label::after,
.filter-input-radio:checked:disabled+label::before,
.filter-input-radio:disabled+label::after,
.filter-input-radio:disabled+label::before {
  opacity: 0.1;
}

.filter-input-checkbox:disabled+label::before,
.filter-input-checkbox:checked:disabled+label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 23px;
  background-repeat: no-repeat;
  opacity: 1;
}

.filter-input-checkbox:disabled+label::before {
  background-image: url(/img/checkbox-off-disabled.svg);

}

.filter-input-checkbox:checked:disabled+label::after {
  background-image: url(/img/checkbox-on-disabled.svg);
}

input[disabled]+label {
  opacity: 0.3;
}

/* sort-bar */

.sort {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.sort-legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black-color);
  text-transform: uppercase;
  margin-bottom: 48px;
  margin-right: auto;

}

.sort-list,
.sort-arrows {
  display: flex;
  margin: 0;
  padding: 0;
}

.sort-item-arrows {
  margin-left: 18px;
}

.sort-item {
  margin-right: 26px;
}

.sort-list li:last-child {
  margin-right: 29px;
}

.sort-item a,
.sort-item-arrows a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black-color);
  opacity: 30%;
  text-transform: uppercase;
}

.sort-item a:hover,
.sort-item-arrows a:hover {
  opacity: 60%;
}

.sort-item a:focus,
.sort-item-arrows a:focus {
  opacity: 100%;
}

/* product-bar section */
.product {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  column-gap: 40px;
}

.product-item-conteiner {
  background-color: var(--basic-grey);
}

.product-item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black-color);
}

.product-item-name:hover {
  color: var(--basic-orange);
}

.product-item-name:active {
  color: var(--basic-black-color);
  opacity: 30%;
}

.product-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic--extra-grey);
}

/* product-item Flex */

.product-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 620px;
  justify-content: flex-start;
  position: relative;
}

/* .product-item::before {
  content: "";
  width: 100%;
  height: 40px;
  background-color: var(--basic-dark-color);
  order: 1;
  opacity: 12%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.product-item:hover::before {
  opacity: 1;
}
*/



.product-item-header {
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 40px;
  background-color: var(--basic-dark-color);
  order: 1;
  opacity: 12%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product-item-header li {
  width: 14px;
  height: 14px;
  background-color: var(--basic-white);
  border-radius: 50%;
  margin-left: 9px;

}

.product-item-header li:first-child {
  margin-left: 16px;

}


.about-product {
  order: 3;
  width: 100%;
  min-height: 231px;
  background-color: var(--basic-grey);
  position: absolute;
  bottom: 0px;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

.product-item-name {
  margin-top: 26px;
  margin-bottom: 12px;
}

.product-description {
  margin-bottom: 32px;
}

.product-image {
  height: 578px;
  order: 2;
  align-self: center;
  cursor: pointer;
}

.product-image img {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.product li:hover .product-item-header {
  opacity: 1;
}



.product li:hover .about-product {
  display: block;
}


/* product-pagination FLEX  */
.product-pagination {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}
